.App .container {
  background: rgba(245, 229, 253, 0.918);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.App footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.App footer a {
  color: #994bc0d9;
}

@media (max-width: 550px) {
  .App footer {
    font-size: 10px;
  }
}
