.Weather form {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.Weather .form-control {
  background-color: #fcf7fe;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 15px 20px;
  margin-right: 0;
}

.Weather .btn-control {
  background-color: #885df1;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  max-width: 100%;
}

@media (max-width: 550px) {
  .Weather h1 {
    font-size: 25px;
  }

  .Weather .form-control {
    font-size: 13px;
  }

  .Weather .btn-control {
    font-size: 13px;
    padding: 15px 10px;
  }
}

